* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family    : 'Open-Sans', sans-serif;
    font-size      : 14px;
    min-height     : 100vh;
    width          : 100%;
    background     : #eee;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.btn {
    margin-bottom  : 40px;
    border         : none;
    outline        : none;
    border-radius  : 50px;
    padding        : 16px 24px;
    text-transform : uppercase;
    font-size      : 1.1em;
    letter-spacing : 2px;
    cursor         : pointer;
    color          : #fff;
    background-size: 300% 100%;
    transition     : background-position 0.4s;
    width: 200px;
}

.btn:hover {
    background-position: 100% 0;
}

.btn-1 {
    background-image: linear-gradient(to right, #ff5f74, #fdc91e, #ff5f74);
    box-shadow      : 0 5px 20px 0 #ff5f7470;
}

.btn-2 {
    background-image: linear-gradient(to right, #009e4a, #fdc91e, #009e4a);
    box-shadow      : 0 5px 20px 0 #009e4a70;
}

.btn-3 {
    background-image: linear-gradient(to right, #2a343f, #505d6b, #2a343f);
    box-shadow      : 0 5px 20px 0 #2a343f70;
}

.btn-4 {
    background-image: linear-gradient(to right, #6052db, #872f92, #6052db);
    box-shadow      : 0 5px 20px 0 #6052db70;
}